<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTI'FINE - Album Damso</title>
    <link rel="stylesheet" href="../static/stylealbum.css">
    <link rel="stylesheet" href="../static/stylecommon.css">

</head>

<body>
    <nav class="menu-horizontale">
        <div class="bloc-menu">
            <form action="/home" method="GET">
                <button>HOME</button>
            </form>
            <form action="/album/damso" method="GET" class="bouton-milieu">
                <button>ALBUM DAMSO</button>
            </form>
            <form action="/tracks/laylow" method="GET">
                <button>TRACKS LAYLOW</button>
            </form>
        </div>
    </nav>
    <div class="title">
        <h1>ALBUM DAMSO</h1>
        <p>Nombre de chansons actuelle : {{.Total}}</p>
    </div>
    <div class="conteneur-albums">
        {{ range .Items }}
        <div class="cadre-album">

            {{ with index .Images 1 }}
            <div class="cover-album">
                <img src="{{.URL}}" alt="Pochette d'album">
            </div>
            {{ end }}
            <div class="info-album">
                <h2 class="titre-album">{{.Name}}</h2>
                <P class="artiste">Par {{(index .Artist 0).Name}}</P>
                <p class="date-album">{{.ReleaseDate}}</p>
                <div class="chanson-num">
                    <span class="nombre-chansons">chansons: {{.TotalTracks}}</span>
                </div>
            </div>
        </div>
        {{ end }}

    </div>
</body>

</html>