<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP SPOTIFY</title>
    <link rel="stylesheet" href="../static/stylehomecss">
    <link rel="stylesheet" href="../static/stylecommon.css">
</head>
<body>
    <nav class="menu-horizontale">
        <div class="bloc-menu">
            <form action="/home" method="GET">
                <button>HOME</button>
            </form>
            <form action="/album/damso" method="GET">
                <button>ALBUM DAMSO</button>
            </form>
            <form action="/tracks/laylow" method="GET">
                <button>TRACKS LAYLOW</button>
            </form>
        </div>
    </nav>
    </body>
</html>