<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTI'FINE</title>
    <link rel="stylesheet" href="../static/stylehome.css">
    <link rel="stylesheet" href="../static/stylecommon.css">
</head>

<body>
    <nav class="menu-horizontale">
        <div class="bloc-menu">
            <form action="/home" method="GET">
                <button>HOME</button>
            </form>
            <form action="/album/damso" method="GET" class="bouton-milieu">
                <button>ALBUM DAMSO</button>
            </form>
            <form action="/tracks/laylow" method="GET">
                <button>TRACKS LAYLOW</button>
            </form>
        </div>
    </nav>
    <div class="bloc-espace">
        <h1>Bienvenue sur SPOTI'FINE !</h1>
        <div class="bloc-paragraphe">
            <div class="paragraphe">
                <p>Informez-vous sur n'importe quelle musique !</p>
                <p>La barre de navigation se trouve juste en haut.</p>
                <p>Ce site est entièrement codé par "KEVIN JOFFRET", alias</p>
                <p>LEGOAT !</p>
                <p>dans le cadre d'un TP sur les API.</p>
                <p>Il est encore incomplet mais suffisant pour une excellente note !</p>
                <p>Sur ce, bonne visite !</p>
            </div>
        </div>
    </div>
</body>

</html>