<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACK LAYLOW</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styletracks.css">
    <link rel="stylesheet" href="../static/stylecommon.css">
    

</head>

<body>
    <nav class="menu-horizontale">
        <div class="bloc-menu">
            <form action="/home" method="GET">
                <button>HOME</button>
            </form>
            <form action="/album/damso" method="GET">
                <button>ALBUM DAMSO</button>
            </form>
            <form action="/tracks/laylow" method="GET">
                <button>TRACKS LAYLOW</button>
            </form>
        </div>
    </nav>
    <div class="cadre-chanson-info">
        <div class="cover-image">
            {{with index .Album.Images 0}}
            <img src="{{.ImageURL}}" alt="Pochette d'album">
            {{end}}
        </div>
        <div class="info-chanson">
            <h2>{{.NameTrack}}</h2>
            {{with index .Album.Artists 0}}
            <P>Artiste: {{ .ArtistName }}</P>
            {{end}}
            <P>Album: {{.Album.NameAlbum}}</P>
            <p>Sortie le {{.Album.ReleaseDate}}</p>
            <P><a href="{{.ExternalUrl.LinkSpotify}}">aller à SPOTIFY</a></P>
        </div>
    </div>

</body>

</html>