<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACK LAYLOW</title>
</head>
<body>
    <form action="/home" method="GET">
    <button>HOME</button>
    </form>
    <h1>MALADRESSE INFO</h1>
    <h2>track Info</h2>
    <div>
        <P>Nom de la chanson: {{.NameTrack}}</P>
        {{with index .Album.Images 0}}
        <img src="{{.ImageURL}}" alt="Pochette d'album">
        {{end}}
        {{with index .Album.Artists 0}}
        <P>Artiste: {{ .ArtistName }}</P>
        {{end}}
        <P>Album: {{.Album.NameAlbum}} (sortie le {{.Album.ReleaseDate}})</P>
        <P>Lien: <a href="{{.ExternalUrl.LinkSpotify}}">Écouter sur Spotify</a></P>
    </div>
    
    </body>
</html>