.bloc-espace {
    padding-top: 50px;
}

.cadre-chanson-info {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #111;
    color: white;
}
.cover-image img {
    width: 200px ;
    height: 200px ;
    border-radius: 10px;
    object-fit: cover;
}
.info-chanson{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    text-align: center;
}
.info-chanson a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}
.info-chanson a:hover {
    text-decoration: underline;
}