body {
    background-color: rgb(44, 44, 44);
}
.conteneur-albums {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color:rgb(200, 200, 200);
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}
.element-album {
    flex-basis: 300px;
    flex-grow: 1;
    border: 1px solid rgb(70,70,70);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.element-album img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}