.bloc-espace {
    padding-top: 60px;
}
.bloc-paragraphe {
    width: 80vw;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #111;
    color: white;
}
.paragraphe {
    max-width: 90%;
    margin: 0;
    text-align: center;
    color: #E0E0E0;
    line-height: 1.6;
    padding: 0 15px;
}
.paragraphe p {
    font-size: 17px !important ;
    margin-bottom: 10px;
}
.paragraphe p:nth-child(4) {
    font-size: 22px !important;
    font-weight: bold;
    color: #20c40a;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #1DB954;
}

.paragraphe p {
    font-size: 18px;
    margin-bottom: 15px;
}