body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}

.menu-horizontale {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #121212;
    padding: 10px 0;
}
.bloc-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    position: relative;
    width: 100%;
}
.bloc-menu form {
    padding:10px;
    padding-bottom: 0;
    padding-top: 0;
}
.bouton-milieu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.menu-horizontale form button {
    text-decoration: none;
    color: #E0E0E0;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #1C1C1C;
    border-radius: 8px;
    display: block;
}

.menu-horizontale form button:hover {
    background-color: #066de2;
    color: #FFF
}