body {
    background-color: #181818;
}


.title {
    color: rgb(220, 220, 220);
    text-align: center;
    margin-top: 80px;
}
.conteneur-albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:15px;
    padding: 20px;
    background-color: #181818;  
}
.cadre-album {
    
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    background-color: #242424;
    color:#E0E0E0;
    overflow: hidden;
    transition: transform 0.2s;
}

.cover-album {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.cover-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
}
.info-album {
    padding: 10px 10px 6px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    
}

.titre-album {
    font-size: 1em;
    font-weight: bold;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artiste {
    font-size: 0.85em;
    color:    #A0A0A0;
    margin-top: 1px;
    margin-bottom: auto;
}

.date-album {
    font-size: 0.75em;
    color:    #A0A0A0;
    margin: 0;
    margin-right: auto ;
    display: flex;
    align-items: center;
    
}

.chanson-num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2px;
    margin-top: 0;
    padding: 0;
    
}

.nombre-chansons {
    background: linear-gradient(135deg, #007FFF, #0059B2);
    color:white;
    font-weight: bold;
    font-size: 0.75em;
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
    margin-left: 0;
}
